 <div id="page_wrapper">
	<div id="profile_image">
		
	</div>

	<div id="content">
		<h1>Hey,Field Wire</h1>
		<p>Welcome to Field Wire Project.</p>
		<p>I learned ruby on rails as the suggested technology.
I wanted to explain all the gems used in the solution.
1) CarrierWave - to upload the images
2) RMagick - to resize the images as per our specification. 
3) Fog - to upload the files to S3
3) CarrierWave-Direct:- for async uploading of the files
</p>
<br>
<p>
Walkthrough of the website:-
When Jon comes to the web application he adds a new project and then under each project Jon can add floorplans with one .pdf file and one screenshot. Under a project, Jon can add multiple floorplans. Projects have 1 to n relation. You can add images with drag and drop functionality.</p>
	</div>
</div>